.page-spinner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}
